<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.AdminDashBoardMapper">
	<select id="getTodayRegisterMemberTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE signup_date = CURDATE()
	</select>
	
	<select id="getTodayBoardWriteTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM community_board
		WHERE reg_date = CURDATE();	
	</select>
	
	<select id="getTodayAbandonedAnimalTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM abandoned_animal_info
		WHERE happen_dt = CURDATE();
	</select>
	
	<select id="getTodayProtectAbandonedAnimalTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM abandoned_animal_info
		WHERE process_state = '보호중';
	</select>
	
</mapper>