<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.CommunityMapper">
	
	<!-- 지식백과 게시판 부분 -->
	<select id="getBoardPage" resultType="HashMap">
		SELECT c.cb_id, c.desertion_no, c.title, c.content, c.hit, c.reg_date, m.name, 
			(SELECT COUNT(*) FROM community_board_good cbg WHERE cbg.cb_id = c.cb_id) AS good
		FROM community_board c, member m
		<include refid="search"></include>
		ORDER BY c.cb_id DESC
		LIMIT #{Page}, #{PageSize}
	</select>
	
	<select id="getCommunityBoardPostTotalCount" resultType="int">
		SELECT count(*) 
		FROM community_board c, member m 
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		<choose>
			<when test='filter.equals("total")'>
				WHERE m.m_id = c.m_id AND classify = ${classify} AND enable = 1 AND
				(title LIKE '%${keyword}%' OR content LIKE '%${keyword}%')
			</when>
		
			<when test='filter.equals("title")'>
				WHERE m.m_id = c.m_id AND classify = #{classify} AND enable = 1 AND
				title LIKE '%${keyword}%'
			</when>
			
			<when test='filter.equals("content")'>
				WHERE m.m_id = c.m_id AND classify = #{classify} AND enable = 1 AND
				content LIKE '%${keyword}%'
			</when>
			
			<when test='filter.equals("title+content")'>
				WHERE m.m_id = c.m_id AND classify = ${classify} AND enable = 1 AND
				(title LIKE '%${keyword}%' OR content LIKE '%${keyword}%')
			</when>
			
			<otherwise>
				WHERE m.m_id = c.m_id AND classify = #{classify} AND enable = 1
			</otherwise>
		</choose>
	</sql>
	
	<select id="getPageDetail" resultType="CommunityDTO">
		SELECT * 
		FROM community_board c 
		WHERE cb_id=#{pageNo}
	</select>
	
	<insert id="insertPost" useGeneratedKeys="true" keyProperty="cb_id">
		INSERT INTO community_board(m_id, desertion_no, title, content, reg_date, classify, enable) 
		VALUES(#{m_id}, #{desertion_no}, #{title}, #{content}, #{reg_date}, #{classify}, #{enable})
	</insert>
	
	<update id="updatePost">
		UPDATE community_board
		SET desertion_no = #{desertion_no}, 
			title = #{title}, 
			content = #{content},
			classify = #{classify},
			enable = #{enable}
		WHERE cb_id = #{cb_id}
	</update>
	
	<delete id="deletePost">
		DELETE FROM community_board
		WHERE cb_id = #{cb_id}
	</delete>
	
	<update id="addHitToBoardPage">
		UPDATE community_board
		SET hit = hit + 1
		WHERE cb_id = #{pageNo}
	</update>
	
	<select id="getCommunityLikeCount" resultType="int">
		SELECT COUNT(*)
		FROM community_board_good
		WHERE cb_id = #{cb_id}
	</select>
	
	<insert id="insertCommunityLike">
		INSERT INTO community_board_good (cb_id, m_id)
		SELECT #{cb_id}, #{m_id}
		WHERE NOT EXISTS (SELECT m_id FROM community_board_good WHERE cb_id = #{cb_id} AND m_id = #{m_id})
	</insert>
	
	<delete id="deleteCommunityLike">
		DELETE FROM community_board_good
		WHERE cb_id = #{cb_id} AND m_id = #{m_id} 
	</delete>
	
	<select id="existCommunityLike" resultType="int">
		SELECT EXISTS(SELECT * FROM community_board_good WHERE cb_id = #{cb_id} AND m_id = #{m_id})
	</select>
	
	<!-- 파일 부분 -->
	
	<!-- 파일 검색 -->
	<select id="selectFileListByCb_id" resultType="FileUploadDTO">
		SELECT *
		FROM file_upload
		WHERE cb_id = #{cb_id}
	</select>
	
	<!--  파일 추가 -->
	<insert id="insertFile">
		INSERT file_upload(cb_id, url) 
		VALUE(#{cb_id}, #{url})
	</insert>
	
	<!-- 파일 삭제 -->
	<delete id="deleteFileByUrl">
		DELETE FROM file_upload
		WHERE url = #{url}
	</delete>
</mapper>