<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.CommunityMapper">
	
	<!-- 지식백과 게시판 부분 -->
	<select id="getDictionaryBoardPage" resultType="HashMap">
		SELECT cb_id, title, content, hit, reg_date, name
		FROM community_board c, member m
		WHERE m.m_id = c.m_id AND classify = 1 AND ENABLE = 1
		ORDER BY cb_id DESC
		LIMIT #{Page}, #{PageSize}
	</select>
	
	<!-- 일상 공유 게시판 부분 -->
	<select id="getCommunityDailyBoardPage" resultType="HashMap">
		SELECT cb_id, title, content, hit, reg_date, name, img_path
		FROM community_board c, member m
		WHERE m.m_id = c.m_id AND classify = 2 AND ENABLE = 1
		ORDER BY cb_id DESC
		LIMIT #{Page}, #{PageSize}
	</select>
	
	
	<!-- 정보 공유 게시판 부분 -->
	<select id="getCommunityInfoBoardPage" resultType="HashMap">
		SELECT cb_id, title, content, hit, reg_date, classify, name
		FROM community_board c, member m 
		WHERE m.m_id = c.m_id AND classify = 3 AND enable = 1
		ORDER BY cb_id DESC
		Limit #{Page}, #{PageSize}
	</select> 
	
	
	
	<!-- 공용 -->
	
	<select id="getCommunityBoardPostTotalCount" resultType="int">
		SELECT count(*) 
		FROM community_board 
		WHERE classify = #{classify} AND enable = 1
	</select>
	
	<select id="getPageDetail" resultType="HashMap">
		SELECT * 
		FROM member m, community_board c 
		WHERE m.m_id=c.m_id AND cb_id=#{pageNo}
	</select>
	
	<select id="getComment" resultType="HashMap">
		SELECT name, cbr_content, reg_date
		FROM member m, community_board_reply cbr
		WHERE m.m_id = cbr.m_id and cb_id = #{pageNo}
	</select>
	
	<insert id="submitPost">
		INSERT INTO community_board(m_id, title, content, reg_date, classify) 
		VALUES(#{m_id}, #{title}, #{content}, #{reg_date}, #{classify})
	</insert>
	
	<insert id="submitComment">
		INSERT INTO community_board_reply(cb_id, m_id, cbr_content, reg_date) 
		VALUES(#{cb_id}, #{m_id}, #{content}, #{reg_date})
	</insert>
	
	<update id="addHitToBoardPage">
		UPDATE community_board
		SET hit = hit + 1
		WHERE cb_id = #{pageNo}
	</update>
</mapper>