<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.CommunityMapper">
	<select id="getCommunityInfoBoardPage" resultType="CommunityDTO">
		select * from community_board Limit #{Page}, #{PageSize}
	</select> 
	
	<select id="getCommunityInfoBoardPostTotalCount" resultType="int">
		select count(*) from community_board
	</select> 
</mapper>