<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.EmailAlarmConditionMapper">
	
	<!-- 회원의 이메일 알람 조건 가져오기 -->
	<select id="getEmailAlarmCondition" resultType="EmailAlarmConditionDTO">
		SELECT * FROM email_alarm_condition
		WHERE m_id = #{m_id}
	</select>
	
	<!-- 모든 이메일 알람 조건 가져오기 -->
	<select id="getEmailAlarmConditionList" resultType="EmailAlarmConditionDTO">
		SELECT * FROM email_alarm_condition
	</select>
	
	<!-- 이메일 알람 조건 추가 -->
	<insert id="insertEmailAlarmCondition">
		INSERT INTO email_alarm_condition 
		VALUES(#{m_id}, #{kinds}, #{dog_breeds}, #{cat_breeds}, #{etc_breeds}, #{ages}, #{sexs}, #{neuterings}, #{shelter_ids})
	</insert>
	
	<!-- 이메일 알람 조건 변경 -->
	<update id="updateEmailAlarmCondition">
		UPDATE email_alarm_condition 
		SET kinds = #{kinds},
			dog_breeds = #{dog_breeds},
			cat_breeds = #{cat_breeds},
			etc_breeds = #{etc_breeds},
			ages = #{ages}, 
			sexs = #{sexs}, 
			neuterings = #{neuterings},
			shelter_ids = #{shelter_ids}
		WHERE m_id = #{m_id}
	</update>
	
	<delete id="deleteEmailAlarmCondition">
		DELETE FROM email_alarm_condition 
		WHERE m_id = #{m_id}
	</delete>
</mapper>