<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.MemberPetMapper">
	<insert id="insertMemberPet">
		INSERT INTO member_pet(m_id, name, sex, age, kind, breed, reg_date)
		VALUES(#{m_id}, #{name}, #{sex}, #{age}, #{kind}, #{breed}, NOW())
	</insert>
	
	<delete id="deleteMemberPet">
		DELETE FROM member_pet
		WHERE mp_id = #{mp_id}
	</delete>
	
	<update id="updateMemberPet">
		UPDATE member_pet
		SET 
			name = #{name},
			sex = #{sex},
			age = #{age},
			kind = #{kind},
			breed = #{breed}
		WHERE mp_id = #{mp_id}
	</update>
	
	<select id="selectMemberPetList" resultType="MemberPetDTO">
		SELECT * FROM member_pet
		WHERE m_id = #{m_id}
	</select>
	
	<select id="getMemberPet" resultType="MemberPetDTO">
		SELECT * FROM member_pet
		WHERE mp_id = #{mp_id}
	</select>
</mapper>