<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.ShareCenterMapper">
	<sql id="Search">
		<choose>
			<when test="searchTheme == 'allTheme' and searchArea == 'allArea'">
				WHERE notice_no LIKE CONCAT('%', '', '%')
			</when>
			<when test="searchTheme == 'allTheme' and searchArea != 'allArea'">
				WHERE notice_no LIKE CONCAT('%', #{searchArea}, '%')
			</when>
			<when test="searchTheme != 'allTheme' and searchArea == 'allArea'">
				WHERE kind_cd LIKE CONCAT('%', #{searchTheme}, '%')
			</when>
			<when test="searchTheme != 'allTheme' and searchArea != 'allArea'">
				WHERE kind_cd LIKE CONCAT('%', #{searchTheme}, '%') AND notice_no LIKE CONCAT('%', #{searchArea}, '%')
			</when>
			<otherwise>
				WHERE notice_no LIKE CONCAT('%', '', '%')
			</otherwise>
		</choose>
	</sql>
	
	<sql id="SearchAlignment">
		<choose>
			<when test="alignment == 'alignmentDay'">
				ORDER BY happen_dt DESC
			</when>
			<when test="alignment == 'alignmentHit'">
				ORDER BY hit DESC
			</when>
			<when test="alignment == 'alignmentGood'">
				ORDER BY good DESC
			</when>
		</choose>
	</sql>
	
	<!-- 2022-08-27 김홍일 / 주소 조건 -->
	<sql id="SearchByAddress">
		AND aai.aas_id IN (SELECT aas.aas_id FROM abandoned_animal_shelter aas
							 WHERE aas.care_addr IN 
							 <choose>
							 	<when test="shelterAddressList == null">('')</when>
							 	<otherwise>
							 		<foreach collection="shelterAddressList" item="address" open="(" close=")" separator=",">
								 		#{address}
								 	</foreach>
							 	</otherwise>
							 </choose>
							 )
	</sql>
	
	<!-- 분양센터 게시판 전체 최신순 출력 -->
	<select id="getShareCenterBoardPage" resultType="hashMap">
		SELECT aai.desertion_no, aai.happen_dt, aai.sex_cd , aai.popfile, aai.hit, aai.kind_cd, 
		 (SELECT COUNT(*) FROM abandoned_animal_good aag WHERE aai.desertion_no = aag.desertion_no) good
		FROM abandoned_animal_info aai 
		<include refid="Search"></include>
		<include refid="SearchAlignment"></include> LIMIT #{Page}, #{PageSize};
	</select>
	
	<!-- 2022-08-27 김홍일 / 분양센터 게시판 전체 최신순 출력 + 주소 조건 -->
	<select id="getShareCenterBoardPageByAddress" resultType="hashMap">
		SELECT aai.desertion_no, aai.happen_dt, aai.sex_cd , aai.popfile, aai.hit, aai.kind_cd,
		 (SELECT COUNT(*) FROM abandoned_animal_good aag WHERE aai.desertion_no = aag.desertion_no) good
		FROM abandoned_animal_info aai 
		<include refid="Search"></include>
		<include refid="SearchByAddress"></include>
		<include refid="SearchAlignment"></include> LIMIT #{Page}, #{PageSize};
	</select>
	
	<!-- 분양센터 게시글 총 갯수 -->
	<select id="getShareCenterBoardViewTotalCount" resultType="int">
		SELECT COUNT(*) FROM abandoned_animal_info 
		<include refid="Search"></include> 
	</select>
	
	<!-- 2022-08-27 김홍일 / 분양센터 게시글 총 갯수 + 주소 조건 -->
	<select id="getShareCenterBoardViewTotalCountByAddress" resultType="int">
		SELECT COUNT(*) FROM abandoned_animal_info aai
		<include refid="Search"></include> 
		<include refid="SearchByAddress"></include>
	</select>
	
	<!-- 유기동물 DB에서 존재하는 목록만 셀렉트 박스에 출력 -->
	<select id="getShareCenterAreaList" resultType="hashMap">
		SELECT SUBSTR(notice_no, 1,2) AS notice_no
		FROM abandoned_animal_info
		GROUP BY SUBSTR(notice_no, 1,2)
		ORDER BY notice_no ASC;
	</select>
	
	<!-- 공공데이터 유기동물 API DB에 저장 -->
	<insert id="setDbShareCenterApiResponse">
		INSERT INTO abandoned_animal_info(desertion_no, filename, happen_dt, happen_place, kind_cd, color_cd, age, weight, notice_no, notice_sdt, notice_edt, popfile, process_state, sex_cd, neuter_yn, special_mark, hit, aas_id, redate) 
		VALUES(
			#{desertion_no}, 
			#{filename}, 
			#{happen_dt}, 
			#{happen_place}, 
			#{kind_cd}, 
			#{color_cd}, 
			#{age}, 
			#{weight}, 
			#{notice_no}, 
			#{notice_sdt}, 
			#{notice_edt}, 
			#{popfile}, 
			#{process_state}, 
			#{sex_cd}, 
			#{neuter_yn}, 
			#{special_mark},
			0,
			#{aas_id},
			CURDATE())
		ON DUPLICATE KEY UPDATE
			desertion_no=#{desertion_no},
			filename=#{filename}, 
			happen_dt=#{happen_dt}, 
			happen_place= #{happen_place}, 
			kind_cd=#{kind_cd}, 
			color_cd= #{color_cd}, 
			age=#{age}, 
			weight=#{weight}, 
			notice_no=#{notice_no}, 
			notice_sdt=#{notice_sdt}, 
			notice_edt=#{notice_edt}, 
			popfile=#{popfile}, 
			process_state=#{process_state}, 
			sex_cd=#{sex_cd}, 
			neuter_yn=#{neuter_yn}, 
			special_mark=#{special_mark},
			aas_id=#{aas_id},
			redate=CURDATE()
	</insert>
	
	<!-- 유기동물 게시글 상세페이지 출력 -->
	<select id="getShareCenterBoardReadPage" resultType="hashMap">
		SELECT vaai.*, aas.*  
		FROM v_abandoned_animal_info vaai, abandoned_animal_shelter aas
		WHERE desertion_no = #{desertion_no} AND vaai.aas_id = aas.aas_id;
	</select>
	
	<!-- 조회수 증가 -->
	<update id="addShareCenterBoardReadPageHit">
		UPDATE abandoned_animal_info
		SET hit = hit + 1
		WHERE desertion_no = #{desertion_no}; 
	</update>
	
	<!-- 회원 좋아요 체크 -->
	<select id="getGoodCheckShareCenterBoardReadPage" resultType="int">
		SELECT COUNT(*)
		FROM abandoned_animal_good	
		WHERE m_id = #{m_id} AND desertion_no = #{desertion_no};
	</select>
	
	<!-- 좋아요 추가 -->
	<insert id="addGoodShareCenterReadPage">
		INSERT INTO abandoned_animal_good(desertion_no, m_id)
		VALUES(#{desertion_no}, #{m_id})
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="subtractGoodShareCenterReadPage">
		DELETE FROM abandoned_animal_good 
		WHERE desertion_no = #{desertion_no} AND m_id = #{m_id}
	</delete>
	
	<!-- 기 등록된 보호소인지 체크 -->
	<select id="isCheckCareShelter" resultType="int">
		SELECT IFNULL(max(aas_id), 0) AS test FROM abandoned_animal_shelter WHERE care_nm = #{care_nm} AND care_addr =#{care_addr}
	</select>
	
	<!-- 보호소 등록안된 보호소라면 추가-->
	<insert id="setCareShelter" parameterType="ShelterDTO" useGeneratedKeys="true" keyProperty="aas_id">
		INSERT INTO abandoned_animal_shelter(
			care_nm, 
			care_tel, 
			care_addr, 
			org_nm, 
			charge_nm, 
			officetel)
		VALUES(
			#{care_nm}, 
			#{care_tel}, 
			#{care_addr}, 
			#{org_nm}, 
			#{charge_nm}, 
			#{officetel}
		)
	</insert>
</mapper>