<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.ShareCenterMapper">

	<!-- 분양센터 게시판 전체 최신순 출력 -->
	<select id="getShareCenterBoardPage" resultType="hashMap">
		SELECT aai.desertion_no, aai.happen_dt, aai.sex_cd , aai.popfile, aai.hit, aai.kind_cd,
		 (SELECT COUNT(*) FROM abandoned_animal_good aag WHERE aai.desertion_no = aag.desertion_no) good
		FROM abandoned_animal_info aai 
		<!-- WHERE process_state = '보호중'  -->
		ORDER BY happen_dt DESC LIMIT #{Page}, #{PageSize};
	</select>
	
	<!-- 분양센터 게시글 총 갯수 -->
	<select id="getShareCenterBoardViewTotalCount" resultType="int">
		SELECT COUNT(*) FROM abandoned_animal_info
	</select>
	
	<!-- 공공데이터 유기동물 API DB에 저장 -->
	<insert id="setDbShareCenterApiResponse">
		INSERT INTO abandoned_animal_info(desertion_no, filename, happen_dt, happen_place, kind_cd, color_cd, age, weight, notice_no, notice_sdt, notice_edt, popfile, process_state, sex_cd, neuter_yn, special_mark, hit) 
		VALUES(
			#{desertion_no}, 
			#{filename}, 
			#{happen_dt}, 
			#{happen_place}, 
			#{kind_cd}, 
			#{color_cd}, 
			#{age}, 
			#{weight}, 
			#{notice_no}, 
			#{notice_sdt}, 
			#{notice_edt}, 
			#{popfile}, 
			#{process_state}, 
			#{sex_cd}, 
			#{neuter_yn}, 
			#{special_mark},
			0)
		ON DUPLICATE KEY UPDATE
			desertion_no=#{desertion_no},
			filename=#{filename}, 
			happen_dt=#{happen_dt}, 
			happen_place= #{happen_place}, 
			kind_cd=#{kind_cd}, 
			color_cd= #{color_cd}, 
			age=#{age}, 
			weight=#{weight}, 
			notice_no=#{notice_no}, 
			notice_sdt=#{notice_sdt}, 
			notice_edt=#{notice_edt}, 
			popfile=#{popfile}, 
			process_state=#{process_state}, 
			sex_cd=#{sex_cd}, 
			neuter_yn=#{neuter_yn}, 
			special_mark=#{special_mark}
	</insert>
	
	<!-- 유기동물분양 페이지 검색 -->
	<select id="getShareCenterSearch" resultType="hashMap">
		SELECT aai.desertion_no, aai.happen_dt, aai.sex_cd , aai.popfile, aai.hit, aai.kind_cd,
			(SELECT COUNT(*) FROM abandoned_animal_good aag WHERE aai.desertion_no = aag.desertion_no) good
		FROM abandoned_animal_info aai 
		<include refid="Search"></include> LIMIT #{Page}, #{PageSize}
	</select>
	
	<!--유기동물분양 페이지 검색된 결과 총 갯수, 페이징위해서 사용 -->
	<select id="gethareCenterSearchTotalCount" resultType="int">
		SELECT COUNT(aai.desertion_no, aai.happen_dt, aai.sex_cd , aai.popfile, aai.hit, aai.kind_cd,
			(SELECT COUNT(*) FROM abandoned_animal_good aag WHERE aai.desertion_no = aag.desertion_no) good)
		FROM abandoned_animal_info aai 
		<include refid="Search"></include>
	</select>
	
	<!--WHERE kind_cd LIKE '[개]%' AND process_state = '보호중'  -->
	
	<sql id="Search">
		<choose>
			<when test="searchTheme != 'noTheme' and searchArea == 'noArea'">
				WHERE kind_cd LIKE CONCAT('%', #{searchKeyword}, '%') AND process_state LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchTheme == 'noTheme' and searchArea != 'noArea'">
				WHERE Area = #{searchArea} AND  ProductName LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchTheme != 'noTheme' and searchArea != 'noArea'">
				WHERE Theme = #{searchTheme} AND Area = #{searchArea} AND ProductName LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
			<when test="searchTheme == 'noTheme' and searchArea == 'noArea'">
				WHERE ProductName LIKE CONCAT('%', #{searchKeyword}, '%')
			</when>
		</choose>
	</sql>
	
		<sql id="alignment">
		<choose>
			<when test=" != '최신순'">
				ORDER BY happen_dt DESC
			</when>
			<when test=" == '좋아요순'">
				ORDER BY good DESC 
			</when>
			<when test=" != '조회순'">
				ORDER BY hit DESC 
			</when>
		</choose>
	</sql>
</mapper>