<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
			<!-- <typeAlias type="com.spring.ex.dto.BoardDTO" alias="BoardDTO"/> -->
		<typeAlias type="com.spring.ex.dto.ShareCenterDTO" alias="ShareCenterDTO"/>
		<typeAlias type="com.spring.ex.dto.CommunityDTO" alias="CommunityDTO"/>
		<typeAlias type="com.spring.ex.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.spring.ex.dto.MemberPetDTO" alias="MemberPetDTO"/>
		<typeAlias type="com.spring.ex.dto.EmailAlarmDTO" alias="EmailAlarmDTO"/>
		<typeAlias type="com.spring.ex.dto.LostAnimalDTO" alias="LostAnimalDTO"/>
		<typeAlias type="com.spring.ex.dto.CommentDTO" alias="CommentDTO"/>
		<typeAlias type="com.spring.ex.dto.FileUploadDTO" alias="FileUploadDTO"/>
		<typeAlias type="com.spring.ex.dto.ShelterDTO" alias="ShelterDTO"/>
	</typeAliases>
</configuration>